.Home{
    background: url('../../assets/home_slider.webp');
    position: relative;
    margin-bottom: 80px;
}
.HomeContent{
    padding: 166px;
}
.HomeTitle{
    font-size: 72px;
    margin-bottom: 25px;
    color: #fff;
}
.HomeDesc{
    font-size: 18px;
    margin-bottom: 25px;
    color: #fff;
}
.HomeBtn {
    text-decoration: none;
    color: #fff;
}
.HomeBtn:hover{
    color: #fff;
}
@media (max-width:500px){

    .HomeTitle{
        font-size: 32px;
    }
    .HomeDesc{
        font-size: 14px;
    }
    .HomeContent{
        padding: 25px;
    }
}